{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "env": {
      "node": true
    }
  },
  "globals": {
    "process": false,
    "console": false
  },
  "rules": {
    "strict": 2,
    "quotes": ["error", "single"],
    "no-console": "off",
    "no-process-env": "off"
  }
}
