{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "env": {
      "node": true
    }
  },
  "rules": {
    "strict": 2,
    "quotes": ["error", "single"]
  }
}
